.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & svg {
    max-width: 225px;
    max-height: 70px;
  }

  & .logo-link {
    text-decoration: none;
    display: inline-block;
    margin: 0;
  }

  & .logo-link:hover {
    background: none;
  }

  & .build-time {
    font-size: var(--font-size-xs);
    font-weight: 500;
  }
}

.contact-btn {
  transform: rotate(-90deg);
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.05rem;
  margin-right: -1.4rem;
  cursor: pointer;
  font-weight: var(--weight-bold);
}

.logo-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-row-2 {
  display: none;
  margin-top: 0.5rem;

  &.show {
    display: block;
  }
}

@media (min-width: 600px) {
  .contact-btn {
    display: none;
  }

  .logo {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-row-1 {
    display: block;
  }

  .logo-row-2 {
    display: block;
    margin-top: 0;
  }
}
