.logo {

  & svg {
    max-width: 225px;
    max-height: 70px;
  }

  & .logo-link {
    text-decoration: none;
    display: inline-block;
    margin: 0.8rem 0;
  }

  & .logo-link:hover {
    background: none;
  }

  & .build-time {
    font-size: var(--font-size-xs);
    font-weight: 500;
  }

  & .contact-list {
    font-size: var(--font-size-xs);
    font-style: italic;
    font-weight: var(--weight-regular);

    list-style-type: none;
    padding-inline-start: 0;
    margin: 0 0 2rem;

    & li {
      font-size: var(--font-size-xs) !important;
      margin: 0.5rem 0;

      & a {
        text-decoration: none;
        color: var(--black);
      }
    }
  }
}
